html, body
{
	padding:0;
	margin:0;
	font-family: sans-serif;
}

*{-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;}

#Container
{
	/*width:100%;
	height:100vh;*/
	width:1280px;
	height:768px;
	margin:0 auto;
}

	#Cabecalho_Menu_Area
	{
		width:100%;
		height:36px;
		font-size: 18px;
		color:#fff;
		background-color: rgba(22, 190, 207, 36);
	}

	#Cabecalho_Menu_Area a
	{
		color:white;
		text-decoration: none;
	}

		#Cabecalho_Menu_Area_Menu1
		{
			width:200px;
			height:36px;
			float:left;
			padding-top: 7px; 
			padding-left:10px;
		}

		#Cabecalho_Menu_Area_Menu2
		{
			width:100px;
			height:36px;
			float:right;
			padding-top: 7px; 
		}

	#Cabecalho_Perfil_Area
	{
		width:100%;
		height:105px;
		background-color: rgb(242, 242, 238);
	}

		#Cabecalho_Perfil_Area_Foto_Content
		{
			height: 100%;
			width:10%;
			float:left;
			/*background-color: red;*/
		}

			#Cabecalho_Perfil_Area_Foto
			{
				height: 86px;
				width:86px;
				float:right;
				margin-top: 10px;
				/*float:left;*/
				padding:2.5px;
				border-radius: 12px;
				-webkit-border-radius: 12px;
				-o-border-radius: 12px;
				-moz-border-radius: 12px;
				background-color: white;
			}

			#Cabecalho_Perfil_Area_Foto img
			{
				border-radius: 12px;
				-webkit-border-radius: 12px;
				-o-border-radius: 12px;
				-moz-border-radius: 12px;
				width:80px;
				height:80px;
			}


		#Cabecalho_Perfil_Area_Descricao_Content
		{
			height:100%;
			width:90%;
			float:left;
			padding-left: 23px;
			font-size: 24px;
			color:rgb(102, 102, 102);
		}

			#Cabecalho_Perfil_Area_Descricao
			{
				height:31.5px;
				width:100%;
				margin-top: 60px;
			}

	#Conteudo_Area
	{
		width:100%;
		height:627px;
		background-color: #FFF;
	}

		.Conteudo_Coluna
		{
			width:20%;
			height:100%;
			float:left;
		}

		#Coluna1
		{
			background-color: rgba(22, 190, 207, 0.36);
		}

			#Conteudo_Coluna1_Menu
			{
				width:100%;
				height:63%;
			}

				.Conteudo_Coluna1_Menu_Opcao
				{
					width:100%;
					height:74px;
					margin-bottom:1px;
					background-color: rgba(2, 129, 141, 1);
				}

				.Conteudo_Coluna1_Menu_Opcao:hover
				{
					background-color: rgba(22, 190, 207, 0.79);
					cursor: pointer;
				}

					.Conteudo_Coluna1_Menu_Opcao_Imagem
					{
						width:25%;
						height:100%;
						float:left;
					}

						.Conteudo_Coluna1_Menu_Opcao_Imagem img
						{
							margin-top:25px;
							margin-right:11px;
							float:right;
						}

					.Conteudo_Coluna1_Menu_Opcao_Nome
					{
						width:75%;
						height:100%;
						float:left;
						color:white;
						font-size: 21px;
						padding-top: 25px;
					}

			#Conteudo_Coluna1_Calendario
			{
				width:100%;
				height:35%;
				text-align: center;
			}

				#Conteudo_Coluna1_Calendario *
				{
					border: none;
				    border-collapse: collapse;
				    padding: 0;
				    margin: 0;
				}

				#Conteudo_Coluna1_Calendario table
				{
					margin: 0 auto;
				}

				#Conteudo_Coluna1_Calendario tr td
				{
					width:26px;
					height:26px;
					background-color: rgb(236, 235, 229);
					border:solid thin white;
					font-weight: bold;
					font-size: 11px;
					background-repeat: no-repeat;
					color:rgb(102,102,102);
				}

				.leftArrow
				{
					background-image: url("../img/CA2.png");
					background-position: 8px 8px;
				}

				.rightArrow
				{
					background-image: url("../img/CA1.png");
					background-position: 9px 8px;
				}

				#Conteudo_Coluna1_Calendario tr:nth-child(1) > td
				{
					width:26px;
					height:26px;
					background-color: rgba(2, 129, 141, 1);
					border:none;
				}

				.CalendarioTitle
				{
					/*background-color: rgb(2, 129, 141);*/
					background-color: rgb(71, 149, 160) !important;
					color: white !important;
				}

				.FonteCorFimDeSemana
				{
					color:white !important;
				}

				.FonteCorDiaDeSemana
				{
					color: rgb(71, 149, 160) !important;
				}

				.rodapeCalendario
				{
					background-color: rgb(22,190,207) !important;
					border:none !important;
					color:white !important;
				}

				.Calendario_Aviso
				{
					background-image: url("../img/OAviso.png");
					background-repeat: no-repeat;
					background-position: 2.5px 3px;

				}

				/*#Conteudo_Coluna1_Calendario tr:nth-child(1) td:nth-child(2)
				{
					width:130px;
					
				}*/


		#Coluna2
		{
			width:60%;
			padding-top: 10px;
			padding-bottom: 10px;
			height:auto;
		}

			#Objetivos_Semana
			{
				width:684px;
				height:auto;
				margin:0 auto;
			}

				.Objetivos_Semana_Cabecalho
				{
					height:54px;
					width:100%;
				}

					.Objetivos_Semana_Cabecalho_Image
					{
						width:52px;
						height:54px;
						float:left;
						background-image: url("../img/OS1.png");
						background-repeat: no-repeat;
						background-position: 0px 8px;
					}

					.Objetivos_Semana_Cabecalho_Nome
					{
						height:54px;
						width:632px;
						float:left;
						font-size: 18px;
						font-weight: bold;
						padding-top: 26px;
						color: rgb(102, 102, 102);
					}


				.Objetivos_Semana_Conteudo
				{
					width:100%;
					height:auto;
					/*padding-top: 10px;*/
				}

					.Objetivos_Semana_Conteudo_Titulo_Tarefas
					{
						width:100%;
						height:29px;
						background-color: rgb(251, 176, 64);
						font-size: 14px;
						font-weight: bold;
						padding-left: 7px;
						padding-top: 7px;
						color:white;
					}

					.Objetivos_Semana_Conteudo_Tarefas_Content
					{
						width:100%;
						height:auto;
						padding:5px 0 5px 0;
					}

						.Objetivos_Semana_Conteudo_Tarefas
						{
							width:100%;
							height:24px;
							margin-top: 5px;
						}

							.Objetivos_Semana_Conteudo_Tarefas_Numero
							{
								width:29px;
								height:24px;
								background-color: rgb(251, 176, 64);
								text-align: center;
								color:white;
								font-size: 17px;
								font-weight: bold;
								padding-top: 3px;
								float:left;
							}

							.Objetivos_Semana_Conteudo_Tarefas_Texto
							{
								width:652px;
								height:24px;
								font-size: 14px;
								padding-top:4px;
								float:left;
								color:rgb(120, 119, 107);
								background-color: rgb(242, 242, 238);
								padding-left: 5px;
							}

								.Selected_Tarefas
								{
									background-color:rgb(141, 198, 63);
								}

			#Mensagens
			{
				width:684px;
				height:auto;
				margin:20px auto 0 auto;
			}

				.Mensagens_Cabecalho
				{
					width:100%;
					height:62px;
				}

					.Mensagens_Cabecalho_Imagem
					{
						width:61px;
						height:62px;
						background-image: url("../img/OS2.png");
						background-repeat: no-repeat;
						background-position: 0px 15px;
						float:left;
					}

						.Mensagens_Cabecalho_Imagem_Contador
						{
							position:relative;
							width:23px;
							height:23px;
							border-radius: 50%;
							top:13px;
							left:33px;
							background-color: rgb(255, 107, 64);
							font-size: 12px;
							color:white;
							text-align: center;
							padding-top: 4px;
						}

					.Mensagens_Cabecalho_Nome
					{
						width:623px;
						height:62px;
						font-size:18px;
						font-weight: bold;
						padding-top:34px;
						color:rgb(120, 119, 107);
						float:left;
					}

				.Mensagens_Conteudo
				{
					width:100%;
					height:auto;
					font-size: 12px;
				}

					.Mensagens_Conteudo tr td
					{
						padding-left: 10px;
					}

					.Mensagens_Conteudo tr:nth-child(even) td
					{
						height:40px;
						background-color:rgb(242, 242, 238);
					}

					.Mensagens_Conteudo tr:nth-child(odd) td
					{
						height:40px;
						background-color:rgb(229, 229, 220);
					}

					.Mensagens_Conteudo tr:nth-child(1) td
					{
						height:33px;
						color:white;
						background-color:rgb(201, 201, 196);
					}

					.Mensagens_Conteudo_Aviso
					{
						background-image: url("../img/OAviso.png");
						background-repeat: no-repeat;
						background-position: 4.5px 10px;
					}

		#Coluna3
		{
			background-color: rgba(22, 190, 207, 0.14);

		}

			#Conteudo_Coluna3_Agenda_Content
			{
				margin: 10% 8%;
				width:85%;
				height:90%;
				
			}

				#Conteudo_Coluna3_Agenda_Content_Nome
				{
					height:42px;
					width:100%;
					font-size: 24px;
					color: rgb(178, 38, 43);
				}

				#Conteudo_Coluna3_Agenda_Evento_Content
				{
					height:100%;
					width:100%;
					overflow-y: auto; 
				}

					.Conteudo_Coluna3_Agenda_Evento
					{
						height:auto;
						width:100%;
						background-color: white;
						margin-top: 5px;
					}

						.Conteudo_Coluna3_Agenda_Evento_Titulo
						{
							width:100%;
							height:auto;
							color:rgb(219, 94, 49);
							font-size: 18px;
							padding: 10px 10px 5px 10px;
						}

						.Conteudo_Coluna3_Agenda_Evento_Conteudo
						{
							width:100%;
							height:auto;
							color: rgb(102, 102, 102);
							font-size: 18px;
							padding: 10px;
						}


@media (max-width: 500px){

	

}